---
layout: page
title: People

members:
- name: <a href="/team/mpalmer">Margaret Palmer</a>
  img: team_palmer.jpg
  about: Lab Principal Investigator and Director of SESYNC. [<a href='/team_palmercv.pdf'>Full Curriculum Vitae PDF</a>] [<a href='https://twitter.com/SESYNCDirector'>Twitter</a>]

- name: Kelly Hondula
  img: team_khondoula.jpg
  about: PhD candidate (2016- present) studying methane emissions from seasonally inundated forested wetlands. Interested in linking hydrology, biogeochemistry, and remote sensing. Kelly is also part of the data science team at <a href=" https://www.sesync.org/for-you/cyberinfrastructure">SESYNC</a> and a <a href="https://ropensci.org/blog/2018/02/14/announcing-2018-ropensci-fellows/">ROpenSci fellow</a>. [<a href="https://twitter.com/kellyproof">Twitter</a>] [<a href="https://github.com/khondula">Github</a>] [<a href="https://www.sesync.org/users/khondula">Website</a>] [<a href=" https://scholar.google.com/citations?user=Xdhvu9QAAAAJ&hl=en">Google Scholar</a>] 

- name: Alec Armstrong
  img: team_aarmstrong.jpg
  about: PhD candidate (2014 - present) advised by Dr. Margaret Palmer and Dr. Michael Gonsior. Studying dissolved organic matter in the surface waters of freshwater depressional wetlands with a focus on how hydrologic connectivity in wetland ecosystems affects organic matter composition, reactivity, and export to other ecosystems.

- name: Elizabeth de la Reguera
  img: team_ereguera.jpg
  about: MS student (2017 - present) co-advised by <a href="http://www.agroecologylab.com/people.html">Dr. Kate Tully</a> studying the effects of saltwater intrusion on crop survival and productivity and the storage of carbon in agricultural soils. Interested in biogeochemical cycling, hydropedology, and empowering communities to be involved in science and local issues. [<a href="https://scholar.google.com/citations?hl=en&view_op=list_works&gmla=AJsN-F7riD9tqzkB_RtyZuktgw4UFT7W_CHoUwfDXtrPVQ6OyHYO2BSvmuYUnpF_0uskSXUG8J0LHj441UnI6IJexabLY4DDzwCBOUWLpVSM9gKPYP4itDk&user=4d0NClYAAAAJ">Google Scholar</a>]

- name: Graham Stewart
  img: team_gstewart.JPG
  about: MS student (2017 - present) advised by Dr. Margaret Palmer and Dr. Michael Williams. Studying soil carbon stabilization and greenhouse gas emissions in restored and natural wetlands. Interested in the ways that humans impact wetland ecosystems, and how environmental change manifests in the biogeochemical and ecological mechanisms that drive ecosystem functions and services.

- name: Anna Kottkamp
  img: team_anna.JPG
  about: MS student (2017- present) co-advised by <a href="http://www.agroecologylab.com/people.html">Dr. Kate Tully</a> studying mechanisms of carbon sequestration in wetland soils. Interested in biogeochemical transformations at terrestrial-aquatic interfaces and the influence of ecosystem function on water quality. [<a href="https://twitter.com/akottkamper">Twitter</a>] [<a href="https://www.sesync.org/users/akottkamp">SESYNC GRA Profile</a>][<a href="https://www.linkedin.com/in/anna-kottkamp-68849a73/">Linkedin</a>]

- name: <a href="http://www.mdsg.umd.edu/reu/mentors/michael-williams-phd">Uncle Mike</a>
  img: team_mwilliams.jpg
  about: Research scientist and Palmer lab manager. Not the actor.

- name: <a href="https://www.sesync.org/users/njones">Nate Jones</a>
  img: team_njones.jpg
  about:  Postdoctoral Fellow (2017 - present) focusing on hydrologic connectivity between depressional wetlands and downstream waters. More broadly, his research interests include material transport, ecological engineering design, and watershed management. [<a href='https://twitter.com/floodhydrology'>Twitter</a>] [<a href='https://scholar.google.com/citations?user=Mu-W4M0AAAAJ&hl=en'>Google Scholar</a>] [<a href='https://www.researchgate.net/profile/C_Jones'>Research Gate</a>] [<a href='https://github.com/FloodHydrology/'>Github</a>]

- name: <a href="https://www.sesync.org/users/cprasse">Christine Prasse-Maietta</a>
  img: team_cprasse.jpg
  about: Postdoctoral Fellow (2017 - present) examining the ecology of microorganisms and methane cycling transformations in freshwater wetland soils.

undergrad_interns:
- name: Julianna Greenberg
- name: Abigail Toretsky
- name: Eshana Parekh
- name: Maggie Tan

lab_alumni:
- name: Maira Bezerra, PhD 2017 (currenly Associate Scientist with Freshwater Sciences at Conservation International)
- name: <a href =  "https://www.usgs.gov/staff-profiles/rosemary-fanelli">Rosemary Fanelli</a>, PhD 2016 (currently a Hydrologist at USGS MD-DE-DC Water Science Center)
- name: Steve Epting, MS 2016 (currently Biologist with the EPA Healthy Watersheds Program and National Tribal Nonpoint Source Coordinator)
- name: Jake Hosen, PhD 2015 (currently Postdoctoral Fellow at Yale University)
- name: Catherine Febria, Postdoc 2013 (currently Post Doctoral Fellow in Biological Sciences at University of Canterbury, New Zealand)
- name: Benjamin Koch, Postdoc 2013 (currently Assistant Research Professor at Center for Ecosystem Science and Society, Northern Arizona University)
- name: Owen McDonough, PhD 2013 (Environmental Policy Program Manager at National Association of Home Builders)
- name: Brian Laub, PhD 2011 (Postdoctoral Fellow at Utah State University)
- name: Laura Craig, PhD 2009 (Associate Director, River Restoration Program, American Rivers)
- name: Evan Grant, PhD 2009 (USGS Research Scientist)
- name: David Richardson, PhD 2008 (Assistant Professor at State University of New York, New Paltz)
- name: Holly Menninger, PhD 2006 (Director of Public Science for Your Wild Life at NC State University)
- name: Bob Smith, MS 2006 (Postdoctoral Research Associate at UMASS-Amherst/Massachusetts Cooperative Fish and Wildlife Unit)
- name: Chris Patrick, BS 2006 (Ecologist at Smithsonian Environmental Research Center)
- name: Brooke Hassett, MS 2006 (Lab Manager, Bernhardt Lab, Duke University)
- name: Chris Swan, PhD 2003 (Associate Professor at University of Maryland, Baltimore County)
- name: Aaron Moore, MS 2003 (Biomonitoring, Vermont Department of Environmental Conservation)
- name: Brad Cardinale, PhD 2002 (Associate Professor at University of Michigan)

---

<div class="row">
  <div class="col-sm-12 col-md-12">
    <img src="{{ site.url }}/img/palmerresearch/team.jpg" style="max-width:100%;"
    class="img-rounded">
  </div>
  <div class="col-sm-12 col-md-12">
    <p style="padding-top: 8px; text-align: center;">
     Fall 2017 Lab Retreat in West Virginia
    </p>
  </div>
</div>

<br>
<br>

<div class="row">
    {% for person in page.members %}
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member"  style="padding:0px;">
              <div class="caption">
                  <h3>{{ person.name }}</h3>
                  <img src="{{ site.url }}/img/{{ person.img }}" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p>{{ person.about }}</p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        {% cycle 'group1': '', '</div><div class="row">' %}
    {% endfor %}
</div>

<hr>

<div class="row">
    <h3>Undergraduate Interns</h3>
  <ul>
    {% for person in page.undergrad_interns %}
           <li>{{ person.name }}</li>
        {% endfor %}
    </ul>
</div>

<hr>

<div class="row">
    <h3>Alumni/ae</h3>
    <ul>
        {% for student in page.lab_alumni %}
          <li>{{ student.name }}</li>
        {% endfor %}
    </ul>
</div>
