<ul class="fa-ul">
    <li><i class="fa-li fa fa-envelope"></i><strong>mpalmer [at] sesync.org</strong></li>
    <li><i class="fa-li fa fa-phone-square"></i><strong>410 919-4810</strong></li>
    <li><i class="fa-li fa fa-twitter"></i><strong><a href="https://twitter.com/sesyncdirector">@SESYNCDirector</a></strong></li>
    <li><i class="fa-li fa fa-map-marker"></i> SESYNC, 1 Park Place, Suite 300, Annapolis MD 21401</li>  
    <li><i class="fa-li fa fa-map-marker"></i> Plant Sciences Building 4112, University of Maryland, College Park, MD 20742 </li> 
</ul>
