---
title: Publications
layout: page
all_tags: 
  - 'all'
  - 'primary research'
  - 'review'

papers:
- title: "Landscape metrics as predictors of hydrologic connectivity between Coastal Plain forested wetlands and streams"
  journal: "Hydrological Processes 32: 516-532"
  authors:
  - <b>S Epting</b>
  - <b>JD Hosen</b>
  - LC Alexander
  - MW Lang
  - <b>AW Armstrong</b>
  - <b>MA Palmer</b>
  doi: 10.1002/hyp.11433
  pdf: /publications/Palmerpublications/Epting_et_al-2018.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Dissolved organic matter variations in coastal plain wetland watersheds: The integrated role of hydrological connectivity, land use, and seasonality"
  journal: "Hydrological Processes "
  authors:
  - <b>JD Hosen</b>
  - <b>AW Armstrong</b>
  - <b>MA Palmer</b>
  doi: 10.1002/hyp.11519
  pdf: /publications/Palmerpublications/Hosen_et_al-2017.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Evaluation of infiltration-based stormwater management to restore hydrological processes in urban headwater streams"
  journal: "Hydrological Processes (2017) 31:3306-3319"
  authors:
  - <b>R Fanelli</b>
  - K Prestegaard
  - <b>M Palmer</b>
  citationUrl: https://scholar.google.com/scholar?cites=11605653755851736228&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '3'
  doi: 10.1002/hyp.11266
  pdf: /publications/Palmerpublications/Fanelli2017.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Watershed urbanization linked to differences in stream bacterial community composition"
  journal: "Frontiers in Microbiology (2017) 8:1452"
  authors:
  - <b>J Hosen</b>
  - <b>C Febria </b>
  - B Crump
  - <b>M Palmer</b>
  citationUrl: https://scholar.google.com/scholar?cites=11466452304245069498&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '1'
  doi: 10.3389/fmicb.2017.01452
  pdf: /publications/Palmerpublications/Hosen2017.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Impacts of forest restoration on water yield: A systematic review"
  journal: "PLoS ONE (2017) 12(8):e0183210"
  authors:
  - S Filoso
  - <b>M Bezerra</b>
  - K Weiss
  - <b>M Palmer</b>
  citationUrl: https://scholar.google.com/scholar?cites=7592860786137354149&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '4'
  doi: 10.1371/journal.pone.0183210
  pdf: /publications/Palmerpublications/Filoso2017.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Practices for facilitating interdisciplinary synthetic research: the National Socio-Environmental Synthesis Center (SESYNC)"
  journal: "Current Opinion in Environmental Sustainability (2016) 19:11-122"
  authors:
  - <b>M A Palmer</b>
  - J G Kramer
  - J Boyd
  - D Hawthorne
  citationUrl: https://scholar.google.com/scholar?cites=15099179860547182532&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '15'
  doi: 10.1016/j.cosust.2016.01.002
  pdf: /publications/Palmerpublications/Palmer2016.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Mobilizing the power of higher education to tackle the grand challenge of sustainability: Lessons from novel initiatives"
  journal: "Elementa (2016) 4:000090"
  authors:
  - D D Hart
  - J L Buizer
  - J A Foley
  - L E Gilbert
  - L J Graumlich
  - J G Kramer
  - <b>M A Palmer</b>
  - D R Peart
  - L Silka
  citationUrl: https://scholar.google.com/scholar?cites=9079646569369766245&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '6'
  doi: 10.12952/journal.elementa.000090
  pdf: /publications/Palmerpublications/Hart2016.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Aligning restoration science and the law to sustain ecological infrastructure for the future"
  journal: "Frontiers in Ecology and the Environment (2015) 13:512-519"
  authors:
  - <b>M A Palmer</b>
  - J B Ruhl
  citationUrl: https://scholar.google.com/scholar?cites=7577504921958493682&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '18'
  doi: 10.1890/150053 
  pdf: /publications/Palmerpublications/Palmer2015.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Sustainable water management under future uncertainty with eco-engineering decision scaling"
  journal: "Nature Climate Change (2015)"
  authors:
  - N  LeRoy Poff
  - Casey M. Brown
  - Theodore E. Grantham
  - John H. Matthews
  - <b>Margaret A. Palmer</b>
  - Caitlin M. Spence
  - Robert L. Wilby
  - Marjolijn Haasnoot
  - Guillermo F. Mendoza
  - Kathleen C. Dominique
  - Andres Baeza
  citationUrl: https://scholar.google.com/scholar?cites=5520171757417946536&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '86'
  doi: 10.1038/NCLIMATE2765
  pdf: /publications/Palmerpublications/Poff2015.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Manage water in a green way"
  journal: "Science (2015)"
  authors:
  - <b>Margaret A. Palmer</b>
  - J. Liu
  - J H. Matthews
  - M. Mumba
  - P D'Odorico
  citationUrl: https://scholar.google.com/scholar?cites=8419203249025290941&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '39'
  pdf: /publications/Palmerpublications/Palmer2015b.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Suburban watershed nitrogen retention: estimating the effectiveness of stormwater management structures"
  journal: "Elementa (2015) 3:000063"
  authors:
  - B J. Koch
  - <b>C M. Febria</b>
  - R M. Cooke
  - <b>J D. Hosen</b>
  - M E. Baker
  - A R. Colsen
  - S Filoso
  - K Hayho
  - J V. Loperfido
  - A. M. K. Stoner
  - <b>M Palmer</b>
  citationUrl: https://scholar.google.com/scholar?cites=2834373879650768378&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '11'
  doi: 10.12952/journal.elementa.000063
  pdf: /publications/Palmerpublications/Koch2015.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "The efficacy of constructed stream-wetland copmlexes at reducing the flux of suspended solids to Chesapeake Bay"
  journal: "Science (2015) 348:638-640"
  authors:
  - K E. Suding
  - E Higgs
  - <b>M A. Palmer</b>
  - J B. Callicot
  - C B. Anderson
  - M Baker
  - <b>K L. Hondula</b>
  - M C. LaFavor
  - B M.H. Larson
  - A Randall
  - J B. Ruhl
  - K Z. S. Shwartz
  citationUrl: https://scholar.google.com/scholar?cites=18211418022363319557&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '103'
  doi: 10.1126/science.aaa4216
  pdf: /publications/Palmerpublications/Suding2015.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Commiting to ecological restoration"
  journal: "Environmental Science and Technology (2015)"
  authors:
  - S Filoso
  - S.M.C. Smith
  - <b>M R. Williams</b>
  - <b>M A. Palmer</b>
  citationUrl: https://scholar.google.com/scholar?cites=17082720338206930495&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '10'
  doi: 10.1021/acs.est.5b00063
  pdf: /publications/Palmerpublications/Filoso2015.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Microbial responses to changes in flow status in temporary headwater streams: a cross-system comparison"
  journal: "Frontiers of Microbiology (2015) 6:522"
  authors:
  - <b>C M. Febria</b>
  - <b>J D. Hosen</b>
  - B C. Crumps
  - <b>M A. Palmer</b>
  - D D. Williams
  citationUrl: https://scholar.google.com/scholar?cites=2839062636818399193&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '13'
  doi: 10.3389/fmicb.2015.00522
  pdf: /publications/Palmerpublications/Febria2015.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Ecological restoration of streams and rivers: Shifting strategies and shifting goals."
  journal: "Frontiers of Microbiology (2014) 45:247-69"
  authors:
  - <b> M A. Palmer </b>
  - <b> K L. Hondula </b>
  - <b> B J. Koch </b>
  citationUrl: https://scholar.google.com/scholar?cites=15881673778927959784&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '131'
  doi: 10.1146/annurev-ecolsys-120213-091935
  pdf: /publications/Palmerpublications/Palmer2014a.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Surface hydrologic connectivity between Delmarva Bay wetlands and nearby streams along a gradient of agricultural alteration."
  journal: "Wetlands (2014) 35: 41-53"
  authors:
  - O T. McDonough
  - Megan W Lang
  - <b> J D. Hosen </b>
  - <b> M A. Palmer </b>
  - <b> B J. Koch </b>
  citationUrl: https://scholar.google.com/scholar?cites=12035350218550906105&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '18'
  doi: 10.1007/s13157-014-0591-5
  pdf: /publications/Palmerpublications/McDonough2014.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Physics attributed to curve number model illustrate need for caution, and ecological responses often lag restoration efforts. "
  journal: "Proc.Natl. Acad. Sci. (2014) 111(23)"
  authors:
  - G E. Moglen
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=1006917880706823762&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '1'
  doi: 10.1073/pnas.1400119111
  pdf: /publications/Palmerpublications/Moglen2014.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Nitrogen removal by stormwater management structures: A data synthesis"
  journal: "J American Water Resources Association (2014) 50: 1594-1607"
  authors:
  - <b> B J. Koch </b>
  - <b> C Febria </b>
  - M Guery
  - L A. Wainger
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=18444129752072671031&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '35'
  doi: 10.1111/jawr.12223 
  pdf: /publications/Palmerpublications/Koch2014.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Restoration as mitigation: Analaysis of stream mitigation for coal mining impacts in Southern Appalachia"
  journal: "Environmental Science & Technology (2014) 48: 10552-10560"
  authors:
  - <b> M A. Palmer </b>
  - <b> K L. Hondula </b>
  citationUrl: https://scholar.google.com/scholar?cites=4987651203429627232&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '30'
  doi: 10.1021/es503052f
  pdf: /publications/Palmerpublications/Palmer2014b.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Dissolved organic matter quality and bioavailability changes across an urbanization gradient in headwater streams"
  journal: "Environmental Science & Technology (2014) 48: 7817-7824."
  authors:
  - <b> J D. Hosen </b>
  - <b> O T. McDonough </b>
  - <b> C M. Febria </b>
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=5304687232703939141&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '70'
  doi: 10.1021/es501422z 
  pdf: /publications/Palmerpublications/Hosen2014.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Why Should We Care about Temporary Waterways"
  journal: "Science (2014) 343:1080-1081."
  authors:
  - V Acuña
  - T Datry
  - J Marshall
  - D Barceló
  - C N. Dahm
  - A Ginebreda
  - G McGregor
  - S Sabator
  - K Tockner
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=12501425228478425661&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '116'
  doi: 10.1126/science.1246666
  pdf: /publications/Palmerpublications/Acuna2014.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "From ecosystems to ecosystem services: Stream restoration as ecological engineering"
  journal: "Ecological Engineering (2014) 65:62-70"
  authors:
  - <b> M A. Palmer </b>
  - S Filoso
  - <b> R. M. Fanelli </b>
  citationUrl: https://scholar.google.com/scholar?cites=2244349390958352633&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '83'
  doi: 10.1016/j.ecoleng.2013.07.059
  pdf: /publications/Palmerpublications/Palmer2014c.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Environmental flows and water governance: managing sustainable water uses"
  journal: "Science (2014) 343:1080-1081."
  authors:
  - C Pahl-Wostl
  - A Arthington
  - J Bogardi
  - S E Bunn
  - H Hoff
  - L Lebel
  - E Nikitina
  - <b> M A. Palmer </b>
  - L N. Poff
  - K Richards
  - M Schulter
  - R Schulze
  - A St-Hilarie
  - R Tharme
  - K Tockner
  - D Tsegi
  citationUrl: https://scholar.google.com/scholar?cites=9913509458411175674&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '104'
  doi: 10.1016/j.cosust.2013.06.009
  pdf: /publications/Palmerpublications/Pahl-Wostl2013.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "The Heartbeat of Ecosystems"
  journal: "Science (2012) 365:1393."
  authors:
  - <b> M A. Palmer </b>
  - <b> C Febria </b>
  citationUrl: https://scholar.google.com/scholar?cites=9757096335022753869&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '100'
  doi: 10.1126/science.1223250
  pdf: /publications/Palmerpublications/Palmer2012.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Range of variability of channel complexity in urban, restored and forested reference streams"
  journal: "Freshwater Biology (2012) 57:1076-1095"
  authors:
  - <b> B G. Laub </b>
  - D W. Baker
  - B P. Bledsoe
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=4139165479596013312&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '37'
  doi: 10.1111/j.1365-2427.2012.02763.x
  pdf: /publications/Palmerpublications/Laub2012.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Socioenvironmental sustainability and actionable science"
  journal: "Freshwater Biology (2012) 57:1076-1095"
  authors:
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=5295133792710301742&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '91'
  doi: 10.1525/bio.2012.62.1.2
  pdf: /publications/Palmerpublications/Palmer2012b.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "River restoration: the fuzzy logic of repairing reaches to reverse catchment scale degradation"
  journal: "Ecological Applications (2011) 21:1926-1931. "
  authors:
  - <b> E S. Bernhardt </b>
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=17641089453531989715&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '220'
  doi: 10.1890/10-1574.1
  pdf: /publications/Palmerpublications/Bernhardt2011.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Assessing stream restoration effectiveness at reducing nitrogen export to downstream waters"
  journal: "Ecological Aplications (2011) 21:1989-2006"
  authors:
  - <b> S Filoso </b>
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=11250272315905193578&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '75'
  doi: 10.1890/10-0854.1 
  pdf: /publications/Palmerpublications/Filosos2011.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Temporary streams: the hydrology, geography, and ecology of non-perennially flowing waters"
  journal: "River Ecosystems: Dynamics, Management and Conservation (H.S. Elliot and L.E. Martin, eds). Nova Science Publishers, Inc., Hauppauge, NY."
  authors:
  - <b> O T. McDonough </b>
  - <b> J D. Hosen </b>
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=10418768351382398927&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '33'
  pdf: /publications/Palmerpublications/Mcdonough2011.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "The environmental costs of mountaintop mining valley fill operations for aquatic ecosystems of the Central Appalachians"
  journal: "Annals of the New York Academy of Sciences (2011) 1223:39-57"
  authors:
  - <b> E S. Bernhardt </b>
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=17066563203169233678&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '129'
  doi: 10.1111/j.1749-6632.2011.05986.x
  pdf: /publications/Palmerpublications/Bernhardt2011b.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Promoting Successful Restoration through Effective Monitoring in the Chesapeake Bay Watershed: Non-Tidal Wetlands"
  journal: "National Fish and Wildlife Foundation, Washington, D.C."
  authors:
  - <b> M A. Palmer </b>
  - L Wainger
  - <b> L Craig </b>
  - <b> C Febria </b> 
  - <b> J D. Hosen </b>
  - K Politano
  citationUrl: ''
  citationCount: ''
  pdf: /publications/Palmerpublications/Palmer2011.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Promoting Successful Restoration through Effective Monitoring in the Chesapeake Bay Watershed: Streams"
  journal: "National Fish and Wildlife Foundation, Washington, D.C."
  authors:
  - <b> M A. Palmer </b>
  - L Wainger
  - <b> L Craig </b>
  - <b> C Febria </b> 
  - <b> J D. Hosen </b>
  - K Politano
  citationUrl: ''
  citationCount: ''
  pdf: /publications/Palmerpublications/Palmer2011b.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Water Resources: Beyond Infrastructure"
  journal: "Nature (2010) 467:534-535"
  authors:
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=10962267063551324707&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '58'
  pdf: /publications/Palmerpublications/Palmer2010.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Biodiversity targets after 2010"
  journal: "Current Opinion in Environmental Sustainability (2010) 2:1-6"
  authors:
  - G M. Mace
  - W Cramer
  - S Diaz
  - D P.Faith
  - A Lariguaderie
  - P Le Prestre
  - <b> M A. Palmer </b>
  - C Perrings
  - R J Scholes
  - M Walpole
  - B Walther
  - J M. E. Watson
  - H A. Mooney
  citationUrl: https://scholar.google.com/scholar?cites=15759996033067156359&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '132'
  doi: 10.1016/j.cosust.2010.03.003
  pdf: /publications/Palmerpublications/Mace2010.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Mountaintop Mining Consequences"
  journal: "Science (2010) 327(5962):148-149"
  authors:
  - <b> M A. Palmer </b>
  - <b> E S. Bernhardt </b>
  - W H. Schlesinger
  - K N. Eshleman
  - E Foufoula-Georgiou
  - M S. Hendryx
  - A D. Lemly
  - G E. Likens
  - O L. Loucks
  - M E. Power
  - P S. White
  - P R. Wilcock
  citationUrl: https://scholar.google.com/scholar?cites=9447894942272120492&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '401'
  doi: 10.1016/j.cosust.2010.03.003
  pdf: /publications/Palmerpublications/Palmer2010b.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Biodiversity, climate change, and ecosystem services"
  journal: "Current Opinion in Environmental Sustainability (2009) 1:46-54"
  authors:
  - H Mooney
  - A Lariguaderie
  - E Elmquist
  - O Hoegh-Guldberg
  - S Lavorel
  - G M. Mace
  - <b> M A. Palmer </b>
  - R Scholes
  - T Yahara
  citationUrl: https://scholar.google.com/scholar?cites=11623023836645360987&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '248'
  doi: 10.1016/j.cosust.2009.07.006
  pdf: /publications/Palmerpublications/Mooney2009.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "River restoration, habitat heterogeneity and biodiversity:a failure of theory or practice?"
  journal: "Freshwater Biology (2009) 55(Suppl. 1):205-222"
  authors:
  - <b> M A. Palmer </b>
  - <b> H Menninger </b>
  - <b> E S. Bernhardt </b>
  citationUrl: https://scholar.google.com/scholar?cites=106172576476514037&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '524'
  doi: 10.1111/j.1365-2427.2009.02372.x
  pdf: /publications/Palmerpublications/Palmer2009.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Restoration of Ecosystems Services for Environmental Markets"
  journal: "Science (2009) 325(5940):575-576"
  authors:
  - <b> M A. Palmer </b>
  - <b> S Filoso </b>
  citationUrl: https://scholar.google.com/scholar?cites=106172576476514037&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '256'
  doi: 10.1126/science.1172976
  pdf: /publications/Palmerpublications/Palmer2009b.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Reforming Watershed Restoration: Science in Need of Application and Applications in Need of Science"
  journal: "Estuaries and Coasts (2008) 32(1):1559-2723"
  authors:
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=5424986667469924716&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '213'
  doi: 10.1007/s12237-008-9129-5
  pdf: /publications/Palmerpublications/Palmer2008.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Forecasting the combined effects of urbanization and climate change on stream ecosystems: from impacts to management options"
  journal: "Journal of Applied Ecology (2008) 46(1):154-163"
  authors:
  - K C. Nelson
  - <b> M A. Palmer </b>
  - J E. Pizzuto
  - G E. Moglen
  - P L. Angermeier
  - R H. Hilderbrand
  - M Dettinger
  - K Hayhoe
  citationUrl: https://scholar.google.com/scholar?cites=4234623465067240359&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '114'
  doi: 10.1126/science.1172976
  pdf: /publications/Palmerpublications/Nelson2008.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Lakes and streams as sentinals of environmental change in terrestrial and atmospheric processes"
  journal: "Frontiers in Ecology and the Environment (2008) 6(5):247-254"
  authors:
  - C.E. Williamson
  - W. Dodds
  - T.K. Kratz
  - <b> M.A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=16277417843508236318&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '264'
  doi: 10.1126/science.1172976
  pdf: /publications/Palmerpublications/Nelson2008.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Stream restoration strategies for reducing river nitrogen loads"
  journal: "Frontiers in Ecology and the Environment (2008) 6:529-538"
  authors:
  - <b> L.S. Craig </b>
  - <b> M A. Palmer </b>
  - <b> D.C. Richardson </b>
  - <b> S. Filoso </b>
  - <b> E.S. Bernhardt </b>
  - B.P. Bledsoe
  - M.W. Doyle
  - P.M. Groffman
  - B.A. Hassett
  - S.S. Kaushal
  - P.M. Mayer
  - S.M. Smith
  - P.R. Wilcock
  citationUrl: https://scholar.google.com/scholar?cites=18196067761781907915&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '225'
  doi: 10.1126/science.1172976
  pdf: /publications/Palmerpublications/Craig2008.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Climate change and the world's river basins: anticipating response options"
  journal: "Frontiers in Ecology and the Environment (2007) 6(2):81-89"
  authors:
  - <b> M A. Palmer </b>
  - C. Reidy
  - C. Nilsson
  - M. Florke
  - J. Alcamo
  - P.S. Lake
  - N. Bond
  citationUrl: https://scholar.google.com/scholar?cites=6673843682895678948&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '562'
  doi: 10.1890/060148 
  pdf: /publications/Palmerpublications/Palmer2007.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "The role of herbaceous plants and grasses as a basal resource in open-canopy headwater streams"
  journal: "Freshwater Biology (2007) 52:1689-1699"
  authors:
  - <b> H Menninger </b>
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=7492336702326301270&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '48'
  doi: 10.1111/j.1365-2427.2007.01797.x
  pdf: /publications/Palmerpublications/Menninger2007.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Two model scenarios illustrating the effects of land use and climate change on gravel riverbeds of suburban Maryland, U.S.A."
  journal: "Gravel Bed Rivers Chapter 6 - From Process Understanding to River Restoration. Edit by M. Rinaldi, P. Ergenzinger, H. Habersack, T. Hoey, and H. Piegay. Elsevier"
  authors:
  - J Pizzuto
  - G. Moglen
  - <b> M.A. Palmer </b>
  - K. Nelson
  citationUrl: https://scholar.google.com/scholar?cites=8073228131391091122&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '7'
  pdf: /publications/Palmerpublications/Pizzuto2007.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Predicting stream temperature under urbanization and climate change: implications for stream biota"
  journal: "Journal of the American Water Resources Association (2007) 43: 440 - 452"
  authors:
  - K Nelson
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=5538294992335794438&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '6'
  doi: 10.1111/j.1752-1688.2007.00034.x
  pdf: /publications/Palmerpublications/Nelson2007.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Restoring streams in an urbanizing world"
  journal: "Freshwater Biology (2007) 52:738-751"
  authors:
  - <b> E S. Bernhardt </b>
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=8471702447747145576&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '362'
  doi: 10.1111/j.1752-1688.2007.00034.x
  pdf: /publications/Palmerpublications/Bernhardt2007.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Preferential feeding by an aquatic consumer mediates non-additive decomposition of speciose leaf litter"
  journal: "Oecologia (2006) 149(1)"
  authors:
  - <b> C M. Swan </b>
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=6702052106605628625&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '57'
  doi: 10.1007/s00442-006-0436-x
  pdf: /publications/Palmerpublications/Swan2006.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "River restoration: as the need for river restoration grows, supporting federal policies should follow"
  journal: "Issues in Science and Technology (2006) 22:40-48."
  authors:
  - <b> M A. Palmer </b>
  - J D. Allen
  citationUrl: https://scholar.google.com/scholar?cites=1616603177791627048&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '77'
  pdf: /publications/Palmerpublications/Palmer2006.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Hydroecology and river restoration: ripe for research and synthesis"
  journal: "Water Resources Research (2006) 42(3)"
  authors:
  - <b> M A. Palmer </b>
  - E S. Bernhardt
  citationUrl: https://scholar.google.com/scholar?cites=929571196560481561&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '147'
  doi: 10.1029/2005WR004354
  pdf: /publications/Palmerpublications/Palmer2006b.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Restoring watersheds project by project: trends in Chesapeake Bay tributary restoration"
  journal: "Frontiers in Ecology & the Environment (2005) 3(5):259-267"
  authors:
  - B Hassett
  - <b> M A. Palmer </b>
  - E S. Bernhardt
  - S Smith
  - J Carr
  - D D. Hart
  citationUrl: https://scholar.google.com/scholar?cites=13343940285694088421&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '99'
  doi: ''
  pdf: /publications/Palmerpublications/Hassett2005.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Invertebrate biodiversity in agricultural and urban headwater streams: implications for convservation and management"
  journal: "Ecological Applications (2005) 15(4):1169-1177."
  authors:
  - A A. Moore
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=4827167069475745706&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '278'
  doi: 10.1890/04-1484 
  pdf: /publications/Palmerpublications/Moore2005.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Synthesizing U.S. River Restoration"
  journal: "Frontiers in Ecology & the Environment (2005) 3(5):259-267"
  authors:
  - E S. Bernhardt
  - <b> M A. Palmer </b>
  - J D. Allan
  - G Alexander
  - S Brooks
  - J Carr
  - C Dahm
  citationUrl: https://scholar.google.com/scholar?cites=9133415160742686559&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '1559'
  doi: 10.1126/science.1109769
  pdf: /publications/Palmerpublications/Bernhardt2005.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Standards for ecologically successfull river restoration"
  journal: "Journal Of Applied Ecology (2005) 42:208-217"
  authors:
  - <b> M A. Palmer </b>
  - E S. Bernhardt
  - J.D. Allen
  - P.S. Lake
  - G. Alexander
  - S. Brooks
  - J. Carr
  - S. Clayton
  - C.N. Dahm
  - J. Follstad Shah
  - D.L. Galat
  - S. Gloss
  - P. Goodwin
  - D.D. Hart
  - B. Hassett
  - R. Jenkinson
  - K.M. Kondolf
  - R. Lave
  - J.L. Meyer
  - T.K. O'Donnell
  - L. Pagano
  - E. Sudduth
  citationUrl: https://scholar.google.com/scholar?cites=9164994789552685485&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '1243'
  doi: 10.1126/science.1109769
  pdf: /publications/Palmerpublications/Palmer2005b.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Hydro-Ecological responses to land use in small urbanizing watershed in the Chesapeake Bay Watershed"
  journal: "American Geophysical Union"
  authors:
  - G E Moglen
  - K C. Nelson
  - <b> M.A. Palmer </b>
  - J E. Pizzuto
  - C E. Rodgers
  - M I. Hejazi
  citationUrl: https://scholar.google.com/scholar?cites=14469065077305973288&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '18'
  doi: 10.1029/153GM05 
  pdf: /publications/Palmerpublications/Moglen2005.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Ecology for a Crowded Planet"
  journal: "Science (2004) 304: 1251-1252"
  authors:
  - <b> M A. Palmer </b>
  - E S. Bernhardt
  - E Chornesky
  - S Collins
  - A Dobson
  - C Duke
  - B Gold
  - R Jacobson
  - S Kingsland
  - R Kranz
  - M Mappin
  - M L. Martinez
  - F Micheli
  - J Morse
  - M Pace
  - M Pascual
  - S Palumbi
  - O J. Reichman
  - A Simons
  - A Townsend
  - M Turner
  citationUrl: https://scholar.google.com/scholar?cites=15500596574652297143&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '548'
  doi: 10.1126/science.1095780
  pdf: /publications/Palmerpublications/Palmer2004.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "A bright future for biologists and mathematicians?"
  journal: "Science (2003) 299: 2003-2004. "
  authors:
  - A Hastings
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=4986890547583759106&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '58'
  doi: 10.1126/science.1081522
  pdf: /publications/Palmerpublications/Hastings2003.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Bridging engineering, ecological and geomorphic science to enhance riverine restoration: local and national efforts"
  journal: "Proceedings of A National Symposium on Urban and Rural Stream Protection and Restoration, EWRI World Water and Environmental Congress, Philadelphia, Pa, June 2003, published by the American Society of Civil Engineers, Reston Va"
  authors:
  - <b> M.A. Palmer </b>
  - D D. Hart
  - J D. Allan
  - E Bernhardt
  - National Riverine Restoration Science Synthesis Working Group
  citationUrl: https://scholar.google.com/scholar?cites=6424765149496444302&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '21'
  doi: 10.1061/40695(2004)3
  pdf: /publications/Palmerpublications/Palmer2003.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Avoiding train wrecks in the use of science in environmental problem solving"
  journal: "BioScience (2002) 52: 1127-1136"
  authors:
  - L E. Benda
  - N L. Poff
  - C Tague
  - <b> M.A. Palmer </b>
  - J Pizzuto
  - N Bockstael
  - S Cooper
  - E Stanley
  - G Moglen
  citationUrl: https://scholar.google.com/scholar?cites=15139008774755826530&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '142'
  pdf: /publications/Palmerpublications/Benda2002.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Disturbance moderates biodiversity-ecosystem function relationships: experimental evidence from caddisflies in stream mesocosms"
  journal: "Ecology (2002) 83: 1915-1927"
  authors:
  - <b> B J. Cardinale </b>
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=14827082414782165108&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '125'
  pdf: /publications/Palmerpublications/Cardinale2002.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "The influence of physical habitat heterogeneity on biofilm metabolism in a stream ecosystem"
  journal: "Ecology (2002) 83: 412-422"
  authors:
  - <b> B J. Cardinale </b>
  - <b> M A. Palmer </b>
  - <b> C M. Swan </b>
  - S Brooks
  - N L. Poff
  citationUrl: https://scholar.google.com/scholar?cites=14417001643208647628&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '182'
  pdf: /publications/Palmerpublications/Cardinale2002b.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Assessing stream rehabilitation: limitations of community structure data"
  journal: "Restoration Ecology (2002) 10: 156-168"
  authors:
  - S Brooks
  - <b> M A. Palmer </b>
  - <b> C M. Swan </b>
  - B J. Cardinale
  - S G. Ribblett
  citationUrl: https://scholar.google.com/scholar?cites=14104291745083421051&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '127'
  doi: 10.1046/j.1526-100X.2002.10117.x 
  pdf: /publications/Palmerpublications/Brooks2002.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Species diversity enhances ecosystem functioning through interspecific facilitation"
  journal: "Nature (2002) 415: 426-429."
  authors:
  - <b> B J Cardinale </b>
  - <b> M A. Palmer </b>
  - S L. Collins
  citationUrl: https://scholar.google.com/scholar?cites=16617066870829489705&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '705'
  doi: 10.1038/415426a
  pdf: /publications/Palmerpublications/Cardinale2002c.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Defining and unraveling biocomplexity"
  journal: "BioScience (2001) 51:1018-1023"
  authors:
  - W K. Michener
  - T Baerwald
  - P Firth
  - <b> M A. Palmer </b>
  - J Rosenberger
  - E Sandlin
  - H Zimmerman
  citationUrl: https://scholar.google.com/scholar?cites=1490811139554535990&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '199'
  pdf: /publications/Palmerpublications/Palmer2001.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "The influence of initial colonization by hydropsychid caddisfly larvae on the development of stream invertebrate assemblages"
  journal: "Hydrobiologia (2001) 455:19-27"
  authors:
  - <b> B.J. Cardinale </b>
  - <b> C.S. Smith </b>
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=2035423714402368517&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '13'
  doi: 10.1023/A:1011917900068
  showAltmetric: true
  tag: 'primary research'
- title: "The role of biodiversity in the function of marine critical transition zones"
  journal: "Ecosystems (2001) 4: 430-451"
  authors:
  - L Levin
  - D Bosch
  - J B. Brim
  - A Covich
  - C Dahm
  - C Erseus
  - E C Ewel
  - R Kneib 
  - A Moldenke
  - <b> M A. Palmer </b>
  - D L. Strayer
  - P Snelgrove
  - J Weslawski
  citationUrl: https://scholar.google.com/scholar?cites=9864659833071095237&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '10'
  showAltmetric: true
  tag: 'primary research'
- title: "Managing critical transition zones"
  journal: "Ecosystems (2001) 4: 451-460"
  authors:
  - E C Ewel
  - C Cressa
  - R Kneib
  - P S. Lake
  - L Levin
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=14236933930348610321&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '77'
  doi: 10.1007/s10021-001-0106-0
  showAltmetric: true
  tag: 'primary research'
- title: "Biodiversity in critical transition zones between terrestrial, freshwater, and marine soils and sediments: processes, linkages, and management implications"
  journal: "Ecosystems (2001) 4: 418-420"
  authors:
  - D H Wall
  - <b> M A. Palmer </b>
  - P V. R. Snelgrove
  citationUrl: https://scholar.google.com/scholar?cites=17141179345647221527&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '38'
  doi: 10.1007/s10021-001-0103-3
  showAltmetric: true
  tag: 'primary research'
- title: "The impact of an introduced species of bivalve (Corbicula fluminea) on the benthos of a sandy stream"
  journal: "Freshwater Biology (2001) 46: 491-502"
  authors:
  - <b> C Hakencamp </b>
  - <b> S. Ribblett </b>
  - <b> C. Swan </B>
  - J. Reid
  - <b> M. A. Palmer </b>
  - <b> M. Goodson </b>
  citationUrl: https://scholar.google.com/scholar?cites=8994430746952955655&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '100'
  doi: 10.1046/j.1365-2427.2001.00700.x
  showAltmetric: true
  tag: 'primary research'
- title: "Small-scale spatial patterns in lotic meiofauna communities"
  journal: "Freshwater Biology (2000) 44:109-121"
  authors:
  - C M Swan
  - <b> M. A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=6876520261222742706&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '95'
  doi: 10.1046/j.1365-2427.2000.00587.x 
  showAltmetric: true
  tag: 'primary research'
- title: "Density-independent influence of spatial arrangement of patches on chironomid life history traits"
  journal: "Oecologia (2000) 124: 216-224"
  authors:
  - P Silver
  - J. Cooper
  - <b> M. Palmer </b>
  - <b> K. Nelson </b>
  showAltmetric: true
  tag: 'primary research'
- title: "Streambed landscapes: evidence that stream invertebrates respond to the type and spatial arrangement of patches"
  journal: "Landscape Ecology (2000) 15:563-576"
  authors:
  - <b> M. Palmer </b>
  - <b> C M. Swan </b>
  - <b> K. Nelson </b>
  - <b> P. Silver Botts </b>
  - R Alvestad
  citationUrl: https://scholar.google.com/scholar?cites=9660411459900748250&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '171'
  doi: 10.1023/A:1008194130695
  showAltmetric: true
  tag: 'primary research'
- title: "Introduced bivalves in freshwater ecosystems: the impact of Corbicula on carbon dynamics."
  journal: "Oecologia (1999) 119: 445-451"
  authors:
  - <b> C C Hakencamp </b>
  - <b> M. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=4912676576606029267&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '142'
  pdf: /publications/Palmerpublications/Hakencamp1999.pdf
  doi: 10.1007/s004420050806
  showAltmetric: true
  tag: 'primary research'
- title: "The role of benthic species in freshwater ecosystem processes"
  journal: "Bioscience (1999) 49:119-126"
  authors:
  - A P Covich
  - <b> M A. Palmer </b>
  - T.A. Crowl
  citationUrl: https://scholar.google.com/scholar?cites=13027134670039098066&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '646'
  pdf: /publications/Palmerpublications/Covich1999.pdf
  doi: 10.2307/1313537
  showAltmetric: true
  tag: 'primary research'
- title: "Soil & sediment biodiversity & ecosystem functioning"
  journal: "Nature & Human Resources (1998) 34:41-51"
  authors:
  - D H Wall
  - L. Brussaard
  - P. Hutchings
  - <b> M.A. Palmer </b>
  - P.V.R. Snelgrove
  citationUrl: https://scholar.google.com/scholar?cites=531832616717104092&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '130'
  doi: 10.2307/1313537
  showAltmetric: true
  tag: 'primary research'
- title: "Biodiversity and ecosystem functioning of soils and sediments"
  journal: "Ambio (1997) 26:556-562"
  authors:
  - D W Freckman
  - J. Brussaard
  - P. Snelgrove
  - <b> M.A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=531832616717104092&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '130'
  pdf: /publications/Palmerpublications/Freckman1997.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Biodiversity and ecosystem function in freshwater sediments"
  journal: "Ambio (1997) 26:571-577"
  authors:
  - <b> M.A. Palmer </b>
  - A P. Covich
  - B Finlay
  - J Gibert
  - K D. Hyde
  - R K. Johnson
  - T. Kairesalo
  - P S. Lake
  - C R. Lovell
  - R J. Naiman
  - C Ricci
  - F F. Sabater
  - D L. Strayer
  pdf: /publications/Palmerpublications/Palmer1997.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Ecological theory and community restoration ecology"
  journal: "Restoration Ecology (1997) 5:291-300"
  authors:
  - <b> M.A. Palmer </b>
  - R Ambrose
  - N L Poff
  citationUrl: https://scholar.google.com/scholar?cites=8559275400487079785&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '925'
  doi: 10.1046/j.1526-100X.1997.00543.x 
  pdf: /publications/Palmerpublications/Palmer1997b.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Ecological heterogeneity in streams: why variance matters"
  journal: "Journal of the North American Benthological Society (1997) 16:189-202"
  authors:
  - <b> M A. Palmer </b>
  - <b> C C Hakencamp </b>
  - <b> K Nelson-Baker </b>
  citationUrl: https://scholar.google.com/scholar?cites=2537754443809820179&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '128'
  pdf: /publications/Palmerpublications/Palmer1997c.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "The influence of environmental heterogeneity on patterns and processes in streams"
  journal: "J North American Benthological Society (1997) 16:169-173"
  authors:
  - <b> M A. Palmer </b>
  - N L. Poff
  citationUrl: https://scholar.google.com/scholar?cites=3673640309116055814&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '167'
  pdf: /publications/Palmerpublications/Palmer1997d.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Species composition of the rotifer community inhabiting the interstitial sands of Goose Creek, Virginia with comments on habitat preferences"
  journal: "Q. Journal of Microscopy (1996) 37:552-565"
  authors:
  - P M. Turner
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=14686123987689756683&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '8'
  showAltmetric: true
  tag: 'primary research'
- title: "The role of dispersal as a regional process influencing local community structure: marine vs. freshwater comparisons"
  journal: "Trends in Ecology and Evolution (1996) 11:322-326"
  authors:
  - <b> M A. Palmer </b>
  -  J.D. Allan
  - C.A. Butman
  citationUrl: https://scholar.google.com/scholar?cites=17519494245927168568&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '355'
  showAltmetric: true
  tag: 'primary research'
- title: "Disturbance in patchy environments: role of woody debris as a refuge for invertebrates"
  journal: "Oecologia (1996) 105:247-257"
  authors:
  - <b> M A. Palmer </b>
  - <b> P. Arensburger </b>
  - <b> P. Martin </b>
  - D. Denman
  citationUrl: https://scholar.google.com/scholar?cites=9329440739269660854&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '175'
  pdf: /publications/Palmerpublications/Palmer1996b.pdf
  doi: 10.1007/BF00328554
  showAltmetric: true
  tag: 'primary research'
- title: "Disturbance & the community structure of invertebrates: patch-specific effects and the role of refugia"
  journal: "Freshwater Biology (1996) 34: 343-356"
  authors:
  - <b> M A. Palmer </b>
  - <b> P. Arensburger </b>
  - P.S. Botts
  - C.C. Hakenkamp
  - J. Reid
  citationUrl: https://scholar.google.com/scholar?cites=11221880893167179389&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '95'
  doi: 10.1111/j.1365-2427.1995.tb00893.x 
  showAltmetric: true
  tag: 'primary research'
- title: "Larval distributions and the spatial patterns of settlement of an oyster reef fish: responses to flow and structure"
  journal: "Marine Ecology Progress Series (1995) 125:45-60"
  authors:
  - D L. Breitburg
  - <b> M A. Palmer </b>
  - T. Loher
  citationUrl: https://scholar.google.com/scholar?cites=17785966849859755472&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '117'
  showAltmetric: true
  tag: 'primary research'
- title: "Settlement of oyster larvae: effects of water flow & water-soluable chemical cues"
  journal: "Limnology & Oceanography (1994) 39:1579-1593"
  authors:
  - E J. Turner
  - R K. Zimmer-Faust
  - M A. Palmer
  - M Luckenbach
  citationUrl: https://scholar.google.com/scholar?cites=3413695060407729621&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '147'
  doi: 10.4319/lo.1994.39.7.1579 
  showAltmetric: true
  tag: 'primary research'
- title: "Community dynamics of metazoa from a sandy aquifer near the Chesapeake Bay"
  journal: "Hydrobiologia (1994) 287:195-206."
  authors:
  - <b> C C. Hakencamp </b>
  - <b> M.A. Palmer </b>
  - B.R. James
  citationUrl: https://scholar.google.com/scholar?cites=14678502908871436415&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '13'
  doi: 10.1007/BF00010734
  showAltmetric: true
  tag: 'primary research'
- title: "Distribution of freshwater meiofauna over a range of spatial scales in alluvial river-aquifer systems"
  journal: "Hydrobiologia (1994) 287: 147-156."
  authors:
  - J V. Ward
  - <b> M.A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=15995288150102078183&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '108'
  doi: 10.1007/BF00006903
  showAltmetric: true
  tag: 'primary research'
- title: "Size structure of the metazoan community in a Piedmont stream"
  journal: "Oecologia (1993) 95:202-209"
  authors:
  - N L. Poff
  - <b> M.A. Palmer </b>
  - P. Angermeir
  - R. Vadas
  - <b> C.C. Hakenkamp </b>
  - A. Bely
  - P Arensburger
  - A Martin
  citationUrl: https://scholar.google.com/scholar?cites=9192956645175201949&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '69'
  doi: 10.1007/BF00323491
  showAltmetric: true
  tag: 'primary research'
- title: "Experimentation in the hyporheic zone: challenges and prospectus"
  journal: "Journal of the North American Benthological Society (1993) 12:84-194"
  authors:
  - <b> M.A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=8658308557834462054&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '91'
  doi: 10.2307/1467689
  showAltmetric: true
  tag: 'primary research'
- title: " Response of stream fauna to lotic disturbances: a test of the hyporheic refuge hypothesis"
  journal: "Oecologia (1992) 89:182-194."
  authors:
  - <b> M.A. Palmer </b>
  - <b> A E. Bely </b>
  - <b> K E Berg </b>
  citationUrl: https://scholar.google.com/scholar?cites=12821399947053634248&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '241'
  doi: 10.1007/BF00317217
  showAltmetric: true
  tag: 'primary research'
- title: "Incorporating lotic meiofauna into our understanding of faunal transport processes"
  journal: "Limnology and Oceanography (1992) 37:329-341"
  authors:
  - <b> M.A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=17725638060289596491&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '68'
  doi: 10.4319/lo.1992.37.2.0329 
  showAltmetric: true
  tag: 'primary research'
- title: "On the scale of aggregation of meiobenthic copepods on a tidal mudflat"
  journal: "Marine Ecology (1990) 11:227-237"
  authors:
  - J W. Fleecer
  - <b> M A. Palmer </b>
  - <b> E B Moser </b>
  citationUrl: https://scholar.google.com/scholar?cites=14503778635357129763&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '37'
  doi: 10.1111/j.1439-0485.1990.tb00241.x 
  showAltmetric: true
  tag: 'primary research'
- title: "Understanding the movement dynamics of a stream-dwelling invertebrate community using marine analogs"
  journal: "Stygologia (1990) 5(2): 67-74"
  authors:
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=9811737937539670944&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '31'
  showAltmetric: true
  tag: 'primary research'
- title: " Temporal and spatial dynamics of meiofauna within the hyporheic zone of Goose Creek, Virginia"
  journal: "J North American Benthological Society (1990) 9:17-25."
  authors:
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=9999023404425453646&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '120'
  doi: 10.2307/1467930
  showAltmetric: true
  tag: 'primary research'
- title: " Controls on the vertical distribution of meiobenthos: field & flume studies with juvenile fish"
  journal: "Marine Ecology Progress Series (1988) 48: 81-91"
  authors:
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=17224781431296124379&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '47'
  showAltmetric: true
  tag: 'primary research'
- title: "A review of passive transport and active emergence of marine meiofauna with implications for recruitment."
  journal: "Marine Ecology Progress Series (1989) 55:133-139"
  authors:
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=12826883649698174051&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '300'
  showAltmetric: true
  tag: 'primary research'
- title: "Marine meiofauna and epibenthic fish predators: separating predation, disturbance, and hydrodynamic effects"
  journal: "Ecology (1988) 69: 1251-1259"
  authors:
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=16113706278172337505&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '120'
  doi: 10.2307/1941280 
  showAltmetric: true
  tag: 'primary research'
- title: "Meiofauna dispersal near natural petroleum seeps in the Santa Barbara channel: a recolonization experiment"
  journal: " Oil & Chemical Pollution (1988) 4:179-189"
  authors:
  - <b> M A. Palmer </b>
  - P Montagna
  - D Hardin
  - R Spies
  citationUrl: https://scholar.google.com/scholar?cites=7501410555172674960&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '14'
  doi: 10.1016/S0269-8579(88)80019-4
  showAltmetric: true
  tag: 'primary research'
- title: "Hydrodynamics and structure: interactive effects on meiofauna dispersal"
  journal: "Journal of Experimental Marine Biology & Ecology (1986) 103: 1-16."
  authors:
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=3353597457646801531&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '72'
  doi: 10.1016/0022-0981(86)90097-3
  showAltmetric: true
  tag: 'primary research'
- title: "Flow and the vertical distribution of meiofauna: a flume experiment"
  journal: " Estuaries (1986) 9: 225-228"
  authors:
  - <b> M A. Palmer </b>
  - R M Molloy
  citationUrl: https://scholar.google.com/scholar?cites=12864284565811088149&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '54'
  doi: 10.2307/1352134
  showAltmetric: true
  tag: 'primary research'
- title: "Suspension of nematodes in a turbulent tidal creek: species patterns"
  journal: "Biological Bulletin (1985) 169: 615-623"
  authors:
  - R A Eskin
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=13745105243202194442&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '37'
  doi: 10.2307/1541303
  showAltmetric: true
  tag: 'primary research'
- title: "Dispersal of meiofauna in a turbulent tidal creek"
  journal: "Journal of Marine Research (1985) 43: 170-210"
  authors:
  - <b> M A. Palmer </b>
  - G Gust
  citationUrl: https://scholar.google.com/scholar?cites=13425407369550492270&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '174'
  doi: 10.1357/002224085788437280
  showAltmetric: true
  tag: 'primary research'
- title: "Invertebrate drift: behavioral experiments with intertidal meiobenthos"
  journal: "Marine Behavior and Physiology (1984) 10: 235-253"
  authors:
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=3574426851918317926&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '104'
  doi: 10.1080/10236248409378620
  showAltmetric: true
  tag: 'primary research'
- title: "Field experimentation in meiofaunal ecology"
  journal: "Hydrobiologia (1984) 118: 1-9"
  authors:
  - B C Coull
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=6098049023962407171&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '84'
  doi: 10.1007/BF00031783
  showAltmetric: true
  tag: 'primary research'
- title: "Phytal meiofauna from the rocky intertidal at Murrell's Inlet, S.C"
  journal: "Transactions of the American Microscopial Society (1983) 102:380-389"
  authors:
  - B C Coull
  - E L Creed
  - R A Askin
  - P A Montagna
  - <b> M A. Palmer </b>
  - J B J Wells
  citationUrl: https://scholar.google.com/scholar?cites=13360177739247675436&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '45'
  doi: 10.2307/3225851
  showAltmetric: true
  tag: 'primary research'
- title: "Secondary production of the estuarine, meiobenthic copepod, Microarthridion littorale"
  journal: "Marine Ecology Progress Series (1982) 7:157-162"
  authors:
  - J W Fleeger
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=14211994732887685851&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '31'
  showAltmetric: true
  tag: 'primary research'
- title: "Tidal variation in the sediment densities of marine benthic copepods."
  journal: "Marine Ecology Progress Series (1981) 4: 207-212"
  authors:
  - <b> M A. Palmer </b>
  - R R Brandt
  citationUrl: https://scholar.google.com/scholar?cites=7913194409443589223&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '104'
  showAltmetric: true
  tag: 'primary research'
- title: "The prediction of development rate and the effect of temperature for the copepod, Microarthridion littorale."
  journal: "J. Experimental Marine Biology and Ecology (1980) 48: 78-83"
  authors:
  - <b> M A. Palmer </b>
  - B C Coull
  citationUrl: https://scholar.google.com/scholar?cites=727058350095410058&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '32'
  showAltmetric: true
  tag: 'primary research'
- title: "Heteropsyllus (Copepoda, Harpacticoida): A revised key including a new species from Chesapeake Bay"
  journal: "Trans. of the American Micros. Soc. (1980) 99:303-309"
  authors:
  - B C Coull
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=4655670880503079075&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '5'
  showAltmetric: true
  tag: 'primary research'
- title: "Tidal analysis and prediction in a South Carolina estuary"
  journal: "Contributions in Marine Science (1980) 23: 17-23"
  authors:
  - <b> M A. Palmer </b>
  -  B. Kjerfve
  -  F.B. Schwing
  citationUrl: https://scholar.google.com/scholar?cites=4655670880503079075&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '5'
  showAltmetric: true
  tag: 'primary research'
---

<h3>Publications <small>See also <a href="https://scholar.google.com/citations?user=2nGk3QQAAAAJ&hl=en">[Google Scholar]</a></small></h3>

<script type="text/javascript">
  $(function () {
    $('a.filter-by:first').addClass('active');
    $(document).on('click', 'a.filter-by', function (event) {
      var filter_by = $(this).attr('data-filter-by');
      if (filter_by == 'all') {
        $("li.publication").slideDown('fast');
      }
      else {
        $("li.publication[data-tag='" + filter_by + "']").slideDown('fast');
        $("li.publication[data-tag!='" + filter_by + "']").slideUp('fast');
      }
      $('a.filter-by.active').removeClass('active');
      $(this).addClass('active');
      return false;
    });

    var old_width = undefined;
    $('ol img').hover(function () {
      old_width = $(this).css('width');
      $(this).css('width', '80%');
      $(this).css('z-index', 1);
    }, function () {
      $(this).css('width', old_width);
      $(this).css('z-index', 0);
      old_width = undefined;
    });
  });
</script>

<div class="publication">
  <p><strong>Legend:</strong> <b>Authors from the Palmer Lab</b></p>
  <strong>Categories:</strong>&nbsp;&nbsp;
  {% for tag in page.all_tags %}
  <a href="#" class="filter-by"
    data-filter-by="{{ tag }}">
    <i class="fa fa-tag"></i>
    {{ tag }}
  </a>&nbsp;
  {% endfor %}
  <br>
  <br>
  <ol>
    {% for paper in page.papers %}
      {% if paper.highlight %}
        {% if paper.img %}
          <li value="{{ forloop.rindex }}" style="margin-bottom: 8px; padding: 5px; background: #eee; padding-right:{{ paper.img_width }}px; " class="publication" data-tag="{{ paper.tag }}">
        {% else %}
          <li value="{{ forloop.rindex }}" style="margin-bottom: 8px; padding: 5px; background: #eee" class="publication" data-tag="{{ paper.tag }}">
        {% endif %}
      {% else %}
	 {% if paper.img %}
           <li value="{{ forloop.rindex }}" style="margin-bottom: 3px; padding: 5px; padding-right:{{ paper.img_width }}px;" class="publication" data-tag="{{ paper.tag }}">
	 {% else %}
	   <li value="{{ forloop.rindex }}" style="margin-bottom: 3px; padding: 5px" class="publication" data-tag="{{ paper.tag }}">
	 {% endif %}
      {% endif %}
      {% if paper.img %}
      <a href="http://dx.doi.org/{{ paper.doi }}">
        <img class="img-publication" style="float:right; width:{{ paper.img_width }}px;" src="{{ paper.img }}" alt="{{ paper.title }}"/>
      </a>
      {% endif %}
      {% if paper.doi %}
      <a href="http://dx.doi.org/{{ paper.doi }}">
        <b>{{ paper.title }}</b>
      </a>
      {% elsif paper.url %}
      <a href="{{ paper.url }}">
        <b>{{ paper.title }}</b>
      </a>
      {% else %}
        <b>{{ paper.title }}</b>
      {% endif %}
      {% if paper.software %}
      <a href="{{ paper.software }}">[Website]</a>
      {% endif %}
      {% if paper.pdf %}
      <a href="{{ paper.pdf }}">[PDF]</a>
      {% endif %}
      <br>
      {{ paper.authors | join: ', ' }}
      <br>
      {{ paper.journal }}
      {% if paper.citationCount and paper.citationUrl %}
      <a href="{{ paper.citationUrl }}" title="citations">
        <span class="badge badge-inverse">
          {{ paper.citationCount }}x
        </span>
      </a>
      {% endif %}
      {% if paper.showAltmetric %}
      <span class="altmetric-embed" data-badge-popover="bottom" data-doi="{{ paper.doi }}"></span>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
</div>
