---
title: Publications
layout: page
all_tags:
  - 'all'
  - 'primary research'
  - 'review'
papers:
- title: "Evaluation of infiltration-based stormwater management to restore hydrological processes in urban headwater streams"
  journal: "Hydrological Processes (2017) 31:3306-3319"
  authors:
  - <b>R Fanelli</b>
  - K Prestegaard
  - <b>M Palmer</b>
  citationUrl: https://scholar.google.com/scholar?cites=11605653755851736228&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '3'
  doi: 10.1002/hyp.11266
  pdf: https://onlinelibrary-wiley-com.proxy-um.researchport.umd.edu/doi/pdf/10.1002/hyp.11266
  showAltmetric: true
  tag: 'primary research'
- title: "Watershed urbanization linked to differences in stream bacterial community composition"
  journal: "Frontiers in Microbiology (2017) 8:1452"
  authors:
  - <b>J Hosen</b>
  - <b>C Febria </b>
  - B Crump
  - <b>M Palmer</b>
  citationUrl: https://scholar.google.com/scholar?cites=11466452304245069498&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '1'
  doi: 10.3389/fmicb.2017.01452
  pdf: /publications/Palmerpublications/Hosen2017.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Impacts of forest restoration on water yield: A systematic review"
  journal: "PLoS ONE (2017) 12(8):e0183210"
  authors:
  - S Filoso
  - <b>M Bezerra</b>
  - K Weiss
  - <b>M Palmer</b>
  citationUrl: https://scholar.google.com/scholar?cites=7592860786137354149&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '4'
  doi: 10.1371/journal.pone.0183210
  pdf: http://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0183210&type=printable
  showAltmetric: true
  tag: 'primary research'
- title: "Practices for facilitating interdisciplinary synthetic research: the National Socio-Environmental Synthesis Center (SESYNC)"
  journal: "Current Opinion in Environmental Sustainability (2016) 19:11-122"
  authors:
  - <b>M A Palmer</b>
  - J G Kramer
  - J Boyd
  - D Hawthorne
  citationUrl: https://scholar.google.com/scholar?cites=15099179860547182532&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '15'
  doi: 10.1016/j.cosust.2016.01.002
  pdf: /publications/Palmerpublications/Palmer2016.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Mobilizing the power of higher education to tackle the grand challenge of sustainability: Lessons from novel initiatives"
  journal: "Elementa (2016) 4:000090"
  authors:
  - D D Hart
  - J L Buizer
  - J A Foley
  - L E Gilbert
  - L J Graumlich
  - J G Kramer
  - <b>M A Palmer</b>
  - D R Peart
  - L Silka
  citationUrl: https://scholar.google.com/scholar?cites=9079646569369766245&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '6'
  doi: 10.12952/journal.elementa.000090
  pdf: /publications/Palmerpublications/Hart2016.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Aligning restoration science and the law to sustain ecological infrastructure for the future"
  journal: "Frontiers in Ecology and the Environment (2015) 13:512-519"
  authors:
  - <b>M A Palmer</b>
  - J B Ruhl
  citationUrl: https://scholar.google.com/scholar?cites=7577504921958493682&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '18'
  doi: 10.1890/150053 
  pdf: /publications/Palmerpublications/Palmer2015.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Sustainable water management under future uncertainty with eco-engineering decision scaling"
  journal: "Nature Climate Change (2015)"
  authors:
  - N  LeRoy Poff
  - Casey M. Brown
  - Theodore E. Grantham
  - John H. Matthews
  - <b>Margaret A. Palmer</b>
  - Caitlin M. Spence
  - Robert L. Wilby
  - Marjolijn Haasnoot
  - Guillermo F. Mendoza
  - Kathleen C. Dominique
  - Andres Baeza
  citationUrl: https://scholar.google.com/scholar?cites=5520171757417946536&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '86'
  doi: 10.1038/NCLIMATE2765
  pdf: /publications/Palmerpublications/Poff2015.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Manage water in a green way"
  journal: "Science (2015)"
  authors:
  - <b>Margaret A. Palmer</b>
  - J. Liu
  - J H. Matthews
  - M. Mumba
  - P D'Odorico
  citationUrl: https://scholar.google.com/scholar?cites=8419203249025290941&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '39'
  pdf: /publications/Palmerpublications/Palmer2015b.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Suburban watershed nitrogen retention: estimating the effectiveness of stormwater management structures"
  journal: "Elementa (2015) 3:000063"
  authors:
  - B J. Koch
  - <b>C M. Febria</b>
  - R M. Cooke
  - <b>J D. Hosen</b>
  - M E. Baker
  - A R. Colsen
  - S Filoso
  - K Hayho
  - J V. Loperfido
  - A. M. K. Stoner
  - <b>M Palmer</b>
  citationUrl: https://scholar.google.com/scholar?cites=2834373879650768378&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '11'
  doi: 10.12952/journal.elementa.000063
  pdf: /publications/Palmerpublications/Koch2015.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "The efficacy of constructed stream-wetland copmlexes at reducing the flux of suspended solids to Chesapeake Bay"
  journal: "Science (2015) 348:638-640"
  authors:
  - K E. Suding
  - E Higgs
  - <b>M A. Palmer</b>
  - J B. Callicot
  - C B. Anderson
  - M Baker
  - <b>K L. Hondula</b>
  - M C. LaFavor
  - B M.H. Larson
  - A Randall
  - J B. Ruhl
  - K Z. S. Shwartz
  citationUrl: https://scholar.google.com/scholar?cites=18211418022363319557&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '103'
  doi: 10.1126/science.aaa4216
  pdf: /publications/Palmerpublications/Suding2015.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Commiting to ecological restoration"
  journal: "Environmental Science and Technology (2015)"
  authors:
  - S Filoso
  - S.M.C. Smith
  - <b>M R. Williams</b>
  - <b>M A. Palmer</b>
  citationUrl: https://scholar.google.com/scholar?cites=17082720338206930495&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '10'
  doi: 10.1021/acs.est.5b00063
  pdf: /publications/Palmerpublications/Filoso2015.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Microbial responses to changes in flow status in temporary headwater streams: a cross-system comparison"
  journal: "Frontiers of Microbiology (2015) 6:522"
  authors:
  - <b>C M. Febria</b>
  - <b>J D. Hosen</b>
  - B C. Crumps
  - <b>M A. Palmer</b>
  - D D. Williams
  citationUrl: https://scholar.google.com/scholar?cites=2839062636818399193&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '13'
  doi: 10.3389/fmicb.2015.00522
  pdf: /publications/Palmerpublications/Febria2015.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Ecological restoration of streams and rivers: Shifting strategies and shifting goals."
  journal: "Frontiers of Microbiology (2014) 45:247-69"
  authors:
  - <b> M A. Palmer </b>
  - <b> K L. Hondula </b>
  - B J. Koch
  citationUrl: https://scholar.google.com/scholar?cites=15881673778927959784&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '131'
  doi: 10.1146/annurev-ecolsys-120213-091935
  pdf: /publications/Palmerpublications/Palmer2014a.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Surface hydrologic connectivity between Delmarva Bay wetlands and nearby streams along a gradient of agricultural alteration."
  journal: "Wetlands (2014) 35: 41-53"
  authors:
  - O T. McDonough
  - Megan W Lang
  - <b> J D. Hosen </b>
  - <b> M A. Palmer </b>
  - B J. Koch
  citationUrl: https://scholar.google.com/scholar?cites=12035350218550906105&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '18'
  doi: 10.1007/s13157-014-0591-5
  pdf: /publications/Palmerpublications/McDonough2014.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Physics attributed to curve number model illustrate need for caution, and ecological responses often lag restoration efforts. "
  journal: "Proc.Natl. Acad. Sci. (2014) 111(23)"
  authors:
  - G E. Moglen
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=1006917880706823762&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '1'
  doi: 10.1073/pnas.1400119111
  pdf: /publications/Palmerpublications/Moglen2014.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Nitrogen removal by stormwater management structures: A data synthesis"
  journal: "J American Water Resources Association (2014) 50: 1594-1607"
  authors:
  - B J. Koch
  - <b> C Febria </b>
  - M Guery
  - L A. Wainger
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=18444129752072671031&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '35'
  doi: 10.1111/jawr.12223 
  pdf: /publications/Palmerpublications/Koch2014.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Restoration as mitigation: Analaysis of stream mitigation for coal mining impacts in Southern Appalachia"
  journal: "Environmental Science & Technology (2014) 48: 10552-10560"
  authors:
  - <b> M A. Palmer </b>
  - <b> K L. Hondula </b>
  citationUrl: https://scholar.google.com/scholar?cites=4987651203429627232&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '30'
  doi: 10.1021/es503052f
  pdf: /publications/Palmerpublications/Palmer2014b.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Dissolved organic matter quality and bioavailability changes across an urbanization gradient in headwater streams"
  journal: "Environmental Science & Technology (2014) 48: 7817-7824."
  authors:
  - <b> J D. Hosen </b>
  - O T. McDonough
  - <b> C M. Febria </b>
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=5304687232703939141&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '70'
  doi: 10.1021/es501422z 
  pdf: /publications/Palmerpublications/Hosen2014.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Why Should We Care about Temporary Waterways"
  journal: "Science (2014) 343:1080-1081."
  authors:
  - V Acuña
  - T Datry
  - J Marshall
  - D Barceló
  - C N. Dahm
  - A Ginebreda
  - G McGregor
  - S Sabator
  - K Tockner
  - <b> M A. Palmer </b>
  citationUrl: https://scholar.google.com/scholar?cites=12501425228478425661&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '116'
  doi: 10.1126/science.1246666
  pdf: /publications/Palmerpublications/Acuna2014.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "From ecosystems to ecosystem services: Stream restoration as ecological engineering"
  journal: "Ecological Engineering (2014) 65:62-70"
  authors:
  - <b> M A. Palmer </b>
  - S Filoso
  - <b> R. M. Fanelli </b>
  citationUrl: https://scholar.google.com/scholar?cites=2244349390958352633&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '83'
  doi: 10.1016/j.ecoleng.2013.07.059
  pdf: /publications/Palmerpublications/Palmer2014c.pdf
  showAltmetric: true
  tag: 'primary research'
- title: "Environmental flows and water governance: managing sustainable water uses"
  journal: "Science (2014) 343:1080-1081."
  authors:
  - C Pahl-Wostl
  - A Arthington
  - J Bogardi
  - S E Bunn
  - H Hoff
  - L Lebel
  - E Nikitina
  - <b> M A. Palmer </b>
  - L N. Poff
  - K Richards
  - M Schulter
  - R Schulze
  - A St-Hilarie
  - R Tharme
  - K Tockner
  - D Tsegi
  citationUrl: https://scholar.google.com/scholar?cites=9913509458411175674&as_sdt=20000005&sciodt=0,21&hl=en
  citationCount: '104'
  doi: 10.1016/j.cosust.2013.06.009
  pdf: /publications/Palmerpublications/Pahl-Wostl2013.pdf
  showAltmetric: true
  tag: 'primary research'
---

<h3>Publications <small>See also <a href="https://scholar.google.com/citations?user=2nGk3QQAAAAJ&hl=en">[Google Scholar]</a> &amp; <a href="/tools">[Software Tools]</a></small></h3>

<script type="text/javascript">
  $(function () {
    $('a.filter-by:first').addClass('active');
    $(document).on('click', 'a.filter-by', function (event) {
      var filter_by = $(this).attr('data-filter-by');
      if (filter_by == 'all') {
        $("li.publication").slideDown('fast');
      }
      else {
        $("li.publication[data-tag='" + filter_by + "']").slideDown('fast');
        $("li.publication[data-tag!='" + filter_by + "']").slideUp('fast');
      }
      $('a.filter-by.active').removeClass('active');
      $(this).addClass('active');
      return false;
    });

    var old_width = undefined;
    $('ol img').hover(function () {
      old_width = $(this).css('width');
      $(this).css('width', '80%');
      $(this).css('z-index', 1);
    }, function () {
      $(this).css('width', old_width);
      $(this).css('z-index', 0);
      old_width = undefined;
    });
  });
</script>

<div class="publication">
  <p><strong>Legend:</strong> <b>Authors from the Palmer Lab</b></p>
  <strong>Categories:</strong>&nbsp;&nbsp;
  {% for tag in page.all_tags %}
  <a href="#" class="filter-by"
    data-filter-by="{{ tag }}">
    <i class="fa fa-tag"></i>
    {{ tag }}
  </a>&nbsp;
  {% endfor %}
  <br>
  <br>
  <ol>
    {% for paper in page.papers %}
      {% if paper.highlight %}
        {% if paper.img %}
          <li value="{{ forloop.rindex }}" style="margin-bottom: 8px; padding: 5px; background: #eee; padding-right:{{ paper.img_width }}px; " class="publication" data-tag="{{ paper.tag }}">
        {% else %}
          <li value="{{ forloop.rindex }}" style="margin-bottom: 8px; padding: 5px; background: #eee" class="publication" data-tag="{{ paper.tag }}">
        {% endif %}
      {% else %}
	 {% if paper.img %}
           <li value="{{ forloop.rindex }}" style="margin-bottom: 3px; padding: 5px; padding-right:{{ paper.img_width }}px;" class="publication" data-tag="{{ paper.tag }}">
	 {% else %}
	   <li value="{{ forloop.rindex }}" style="margin-bottom: 3px; padding: 5px" class="publication" data-tag="{{ paper.tag }}">
	 {% endif %}
      {% endif %}
      {% if paper.img %}
      <a href="http://dx.doi.org/{{ paper.doi }}">
        <img class="img-publication" style="float:right; width:{{ paper.img_width }}px;" src="{{ paper.img }}" alt="{{ paper.title }}"/>
      </a>
      {% endif %}
      {% if paper.doi %}
      <a href="http://dx.doi.org/{{ paper.doi }}">
        <b>{{ paper.title }}</b>
      </a>
      {% elsif paper.url %}
      <a href="{{ paper.url }}">
        <b>{{ paper.title }}</b>
      </a>
      {% else %}
        <b>{{ paper.title }}</b>
      {% endif %}
      {% if paper.software %}
      <a href="{{ paper.software }}">[Website]</a>
      {% endif %}
      {% if paper.pdf %}
      <a href="{{ paper.pdf }}">[PDF]</a>
      {% endif %}
      <br>
      {{ paper.authors | join: ', ' }}
      <br>
      {{ paper.journal }}
      {% if paper.citationCount and paper.citationUrl %}
      <a href="{{ paper.citationUrl }}" title="citations">
        <span class="badge badge-inverse">
          {{ paper.citationCount }}x
        </span>
      </a>
      {% endif %}
      {% if paper.showAltmetric %}
      <span class="altmetric-embed" data-badge-popover="bottom" data-doi="{{ paper.doi }}"></span>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
</div>
